* {
  margin: 0;
  padding: 0;
}

/* Inicio de home */
section {
  padding: 30px;
}



.section1 {
    background-image: url(./img/img1.jpg) ;
   
    /* background-image: linear-gradient(to right, #0062b7 20%, #02c7ce 43%, #2c53df 80%); */
  display: flex;
  justify-content: center;
  align-content: center;
}

.home{
  display: flex;
}

.bienvenidos {
  width: 500px;
  display: flex;
  align-items: flex-start;
  margin: 60px;
  margin-left: 90px;
}

.parrafo {
  width: 500px;
  margin: 60px;
  font-size: 20px;
  color: white;
}

.section1 div h1 {
  padding: 20px 0;
  font-size: 50px;
  color: white;
}

/* Fin de home */

/* inicio de nosotros */

.section2 {
  background-color: rgba(0, 0, 0, 0.756);
  color: white;
  display: flex;
  justify-content: center;
}

.nosotros{
    width: 800px;
}

.section2 div h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* fin de nosotros */

.servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 400px;
}

 .servicios h3{
    display: flex;
    justify-content: center;

} 
.section3{
    background-color: rgba(128, 128, 128, 0.862);
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ubicacion h2{
    display: flex;
    justify-content: center;
    align-items: center;

}


/* footer {
  background-color: gray;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* Inicio del footer */
footer .contacto{

    background-color: rgb(66, 65, 65);
    height: 600px;
    padding: 60px 0;
    }
    
.footer-textos{
    display: flex;
    justify-content: center;
    
    color: white;
    font-size: 25px;
}
    
form{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

    .contacto input[type="text"], .contacto input[type="email"], .contacto textarea{ 
        
        padding: 15px 20px;
        width: 100%;  
        background: none;
        border: 2px solid rgba(204, 204, 204, 0.383);
        font-weight: 500;
        margin: 5px 0;
    }

    .btn{
        display: flex;
        justify-content: center;

    }

    .contacto input[type="sumit"]{
        padding: 10px 15px;
        background-color: none;
        border: 1px solid blue;
        cursor: pointer;
        color: white;
    }

    /* fin de footer */